{% extends 'basee.html' %}{% load static %}
{% block content %}
<link rel="stylesheet" href="static/css/style4.css">

<aside class="sidebar position-fixed top-0 left-0 overflow-auto h-100 float-left " id="show-side-navigation1">
    <i class="uil-bars close-aside d-md-none d-lg-none" data-close="show-side-navigation1"></i>
    <div class="sidebar-header mt-5 d-flex justify-content-center align-items-center px-3 py-4">
      <img
           class="rounded-pill img-fluid mt-1"
           width="65"
           
           
           src="https://uniim1.shutterfly.com/ng/services/mediarender/THISLIFE/021036514417/media/23148907008/medium/1501685726/enhance"
           alt="">
      <div class="ms-2">
        <h5 class="fs-6 mb-0">
          <a class="text-decoration-none" href="#">{{ nom }}</a>
        </h5>
        <p class="mt-1 mb-0">Superviseur</p>
      </div>
    </div>
  
    
  
    <ul >
      
      <li class="">
        <a href="{% url 'inscritclient' pseudo %}">ajouter un composteur</a>
      </li>
      
      <li class="">
        <i class="uil-setting"></i><a href="{% url 'allnodes' %}">voir tous les noeuds</a>
        
      </li>
      
      <li class="">
        <i class="uil-map-marker"></i><a href="{% url 'home' %}">Logout</a>
      </li>
        
    </ul>
  </aside>


  <div></div>
  
  
  
    
 
   
  <script src="static/js/dash.js"></script>
{% endblock %}