{% extends 'base.html' %}
{% block content %}
<div class="container py-5">
  <div class="row">
      <div class="col-md-8 mx-auto">
          <h1 class="text-center mb-4">Welcome to My Website</h1>
          <p class="lead mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce laoreet enim eu neque dignissim, in blandit libero dignissim. Pellentesque eu orci et est faucibus commodo. Aliquam vitae lacus eget leo bibendum vehicula a a metus.</p>
          <p class="lead mb-4">Nam scelerisque nunc vitae ante laoreet, vel tristique tellus faucibus. Sed euismod enim id nunc congue, id fringilla odio tincidunt. Morbi vulputate euismod arcu, ac feugiat est dapibus nec. Donec euismod quam non risus placerat elementum.</p>
          <p class="lead mb-4">Proin semper malesuada dui vel venenatis. Sed sit amet tincidunt massa. Sed vitae metus in mi interdum elementum. Etiam malesuada, nibh vel rhoncus suscipit, mauris nisi dictum massa, nec consectetur augue magna sed odio. In viverra luctus ex, sit amet tincidunt leo semper quis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec condimentum ullamcorper magna, nec eleifend leo lobortis eget. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
          <a href="#" class="btn btn-primary btn-lg">Learn More</a>
      </div>
  </div>
</div>
    
{% endblock %}