
{% extends 'basee.html' %} 


{% load static %}
{% block content %}




<link rel="stylesheet" href="static/css/loginas.css">



    

<div id="container" >
    
    <section class="cards">
        
        <article class="card card--1">
          <div class="card__info-hover">
           
              <div class="card__clock-info">
                
              </div>
            
          </div>
          <div class="card__img"></div>
        
             <div class="card__img--hover"></div>
           
          <div class="card__info">
            
            <h3 class="card__title">Superviseur</h3>
            <span class="card__by"><a href="{% url 'connexionsuperviseur' %}" class="card__author" title="author" >Se connecter</a></span>
          </div>
        </article>
          
          
        <article class="card card--2">
          <div class="card__info-hover">
            
              <div class="card__clock-info">
               
              </div>
            
          </div>
          <div class="card__img"></div>
          
             <div class="card__img--hover"></div>
           
          <div class="card__info">
           
            <h3 class="card__title">Composteur</h3>
            <span class="card__by"><a href="{% url 'connexionclient' %}" class="card__author" title="author">Se connecter</a></span>
          </div>
          
        </article>  
          
          
          
          </section>
          
</div>

    
{% endblock %}